body{
  margin:0;
  font-family: serif;
}


a{
  text-decoration: none;
}

/* header */

header{
  background-color:rgb(35, 39, 49);
  height:50px;
  padding:30px 0;
  position: fixed;
  width: 100%;
  z-index: 10;




}

.logo{
  width:120px;
  height:25px;
  float: left;
  margin-left: 20px;

}


.container{
width:100%;
margin:0 auto;

}

.nav a{
  color:white;
  font-size: 14px;
}

.nav-left ul{
   list-style: none;
  display: flex;

}


.nav-right ul{
  list-style: none;
  display: flex;
 float:right;
 position: absolute;
 top:44px;
 right:61px;
 margin:0;
 }


 .nav-left li{
 margin-right:25px;
 font-size: 14px;
 }

 .nav-left a:hover{
   color:#FF5274;
 }


.nav-right li{
margin-right:30px;

}


.SING{
  border:2px white solid;
  padding: 8px 24px;
  border-radius: 30px;

}

.SING:hover{
  background-color: white;
  opacity: 0.8;
  color: black;
}

/* top-wrapper */

.top-wrapper{
  text-align: center;
  padding-top:120px;
  height: 600px;
  background-image:
   url(../img/business.png);
   background-size: cover;
   box-sizing: border-box;
}


.top-wrapper h1{
  font-size:60px;
  margin:0;
  color:white;
}

.top-wrapper p{
  font-size: 20px;
  margin: 30px 0 100px;
  color:white;
}

.btn{
  padding:12px 30px;
  border-radius: 30px;
}

.downroad{
  margin-right:25px;
  color:white;
  background-color: #FF5274;
  border: 3px #FF5274 solid;
}

.downroad:hover{
  opacity: 0.9;
  transition:all 0.5s;

}

.MOREMORE{
  color:#FF5274;
  border: 3px #FF5274 solid;
}

.MOREMORE:hover{
  color:white;
  background-color:#FF5274;
  transition:all 0.5s;
}

/* .featuers */

.featuers{
  height: 210px;
  width:800px;
  margin:0 auto;
  padding: 120px 0;

}

.featurespart{
  display: flex;

}

.feature{
  width:240px;
  float: left;
  box-sizing: border-box;


}

.feature:not(:last-child){
  margin-right: 55px;

}

.feature h1{
  font-size:15px;
  font-weight: normal;
  opacity: 0.9;
}

.feature p{
  font-size: 15px;
  color:rgba(28, 54, 83, 0.6);
  line-height: 30px;
}

/* .description1 */


.description1{
  height: 790px;
  background-color: rgb(243, 244, 248);
  padding-bottom: 90px;
  position: relative;
}

.right-section{
  width:300px;
  position: absolute;
  right:120px;
  bottom:15px;

}

.forward{
  font-size: 28px;
  font-weight: normal;
  opacity: 0.9;
  text-align: center;
  padding-top: 120px;
  box-sizing: border-box;

}

.Present{
  text-align: center;
 color:rgba(28, 54, 83, 0.6);

}

.works{
  position: absolute;
  bottom: 45px;
  right: 515px;
}

.work{
  width: 700px;
  height: 510px;
}

.desc{
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 20px;

}

.desc:not(:last-child){
    border-bottom:  0.5px solid rgba(28, 54, 83, 0.5);
    padding-left: 30px;
}

.desc h1{
  font-weight: normal;
  font-size:15px;
  margin-top:30px;
  opacity: 0.9;
}

.desc p{
font-size:15px;
color:rgba(28, 54, 83, 0.6);
  line-height: 30px;

}

/* description2 */

.description2{
  height: 500px;
  padding:120px 0;
  position: relative;

}

.left-part{
  width:400px;
  padding-left: 20px;
  position: relative;
  top:-541px;
}

.left-part h1{
  font-weight: normal;
  font-size:28px;
  opacity: 0.9;
}

.left-part p{
  line-height: 30px;
  padding-bottom: 30px;
  color: rgba(28, 54, 83, 0.6);
}

.SKETCH{
  color:#FF5274;
  border: 2px #FF5274 solid;
  border-radius: 30px;
  padding: 10px 25px;
  font-size: 15px;
}

.SKETCH:hover{
  color:white;
  background-color:#FF5274;
  transition:all 0.2s;

}

.right-part{
  position: relative;
  left:510px;

}

.simon{
  width: 700px;
  height: 500px;

}


/* up-to-active */

.up-to-active{
  background-image:
  url(../img/black-ground.png);
  background-size: cover;
  height:200px;
  padding:120px 0 190px;
  text-align: center;
  position: relative;
  }



.up-to-active h1{
font-size: 40px;
font-weight: normal;
color:white;
margin:0;
}

.up-to-active p{
  color:#ACB1B4;
  margin-bottom: 50px;
}

.three{
  color:#F69D52;
  font-size:25px;
  vertical-align: top;
  margin-left: -8px;
}

.NOW{
  color:#FF5274;
  border: 3px #FF5274 solid;

}

.NOW:hover{
  color:white;
  background-color:#FF5274;
  transition:all 0.5s;
}

.up-to-active a{
  font-size: 12px;
}

.diamond{
  width:230px;
  height: 220px;
  position:absolute;
  right:490px;
  bottom: -80px;

}

.products{
  margin:120px auto;
  height: 370px;


}

.Showcase{
  font-weight: normal;
  font-size: 24px;
  opacity: 0.9;
  margin-bottom: 50px;
  padding-left: 50px;
}

.product{
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding-left: 100px;
  padding-right: 15px;

}




.product:not(:last-child){
  border-right: 0.5px solid rgba(28, 54, 83, 0.3);
  padding-left: 50px;
  padding-right: 100px;
}

.product h1{
  font-size: 15px;
  font-weight: normal;
  opacity: 0.9;
}


.product p{
  font-size: 15px;
  line-height: 30px;
  color: rgba(28, 54, 83, 0.6);
}


.galleis{
  height: 500px;

}


.abc{
  display: flex;
  justify-content: space-between;
}


}
.garally{



}

.garally h2{
  font-size:11px;
  color:#FF5274;
  text-align: center;
  margin-top: 35px;
}

.garally a{
  color: rgba(28, 54, 83, 0.6);
  font-size: 15px;
  display: block;
  text-align: center;
}

.garally img{
  width:340px;
  height: 205px;

}

.NEWS{
  padding: 10px 35px;
  border-radius: 30px;
  font-size: 12px;
  position: absolute;
  left:530px;

}

.NOW-NEWS a{
  display: block;



}

.NOW-NEWS{
  margin-top: 50px;
  box-sizing: content-box;
  position:relative;

}

/* .human */

.human{
  height: 300px;
  background-image:
  url(../img/black-ground.png);
  background-size: cover;
  text-align: center;
  padding: 120px 0 30px;
}

.human img{
  border-radius: 30px;
  border: 4px white solid;
}

.human h1{
  color:white;
  font-weight: normal;
  font-size: 40px;
  margin-bottom: 20px;

}

.human p{
  color: white;
  margin:0;
  opacity: 0.6;

}

.forms{
  text-align: center;
  margin: 160px 0 210px;
}

.forms h1{
  font-weight: normal;
  font-size: 24px;
  margin: 0;
}

.forms p{
  color: #3D4351;
  opacity: 0.6;
  font-size: 15px;
  margin-bottom: 45px;
}

.formtype{
  width:350px;
  padding:20px 20px;
  font-size: 15px;
  display: block;
  margin:5px auto 0;
  margin-bottom: 15px;

}

.form{
  text-align: center;
  position: relative;
}

input::placeholder{
  color:pink;
  opacity: 0.8;
}

.box{
  width:355px;
  padding:20px 20px;
  font-size: 15px;
  border: rgb(238, 238, 238) 0.05px solid;
  background-color: #FF5274;

}

.box-free{
  display: flex;
  justify-content: center;
}

.form a{
  color:white;

}

.box:hover{
  opacity: 0.8;
}


footer{
  background-color:rgb(35, 39, 49);
  height: 250px;
  padding-top: 30px;



}


footer ul{
  list-style: none;
  display: flex;
  justify-content:flex-start;

}

footer li{
  margin-left: 30px;
  font-size: 15px;
}

footer a{
  color:white;
}


footer a:hover{
  color:#FF5274;
}

.footer-nav{


}
